.inputText{
    position: relative;
    width: 220px;
    height: 40px;
    margin: 10px 0px;
}

.inputText input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 10px;
    padding: 0 10px 0 20px !important;
    backdrop-filter: blur(10px);
}

.inputText input::placeholder{
    color: #fff;
}